<section class="add-item-section">
  <div class="add-item-container">
    <div class="income-column">
      <h1>income</h1>
      <div *ngFor="let item of budgetItems">
        <app-item-list-card
          *ngIf="item.amount >= 0"
          class="expense"
          [item]="item"
          (cardClick)="onCardClicked(item)"
          (xButtonClicked)="onDelete(item)"
        ></app-item-list-card>
      </div>
    </div>
    <div class="expenses-column">
      <h1>expenses</h1>
      <div *ngFor="let item of budgetItems">
        <app-item-list-card
          *ngIf="item.amount < 0"
          class="expense"
          [item]="item"
          (xButtonClicked)="onDelete(item)"
          (cardClick)="onCardClicked(item)"
        ></app-item-list-card>
      </div>
    </div>
  </div>
</section>
