<form
  #itemForm="ngForm"
  (ngSubmit)="onSubmit(itemForm)"
  style="max-width: 680px;"
>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            style="width: 100px;"
            class="input"
            name="amount"
            placeholder="Amount"
            [ngModel]="item.amount"
            required
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            type="text"
            name="description"
            class="input"
            placeholder="Description"
            [ngModel]="item.description"
            required
          />
        </p>
      </div>
      <div class="field is-narrow">
        <p class="control">
          <button
            class="button is-primary"
            type="submit"
            [disabled]="itemForm.invalid"
            [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"
          >
            {{ isNewItem ? "Add" : "Save" }}
          </button>
        </p>
      </div>
    </div>
  </div>
</form>
