/* You can add global styles to this file, and also import other style files */
@import './node_modules/bulma/bulma.sass';
@import './main-styles.scss';
// @import './node_modules/@angular/material/prebuild-themes/pink-bluegrey.css';
html, body { 
    height: 100%;
.mat-typography p {
     margin: 0; }
     }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
